<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.image_url(:thumb) %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @profile.phone_no %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
