<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>
<p>
  <strong>Image:</strong>

  <% @order.images.each do |image| %>
  <%= image_tag image.image_url(:thumb) %>
<% end %>

  
</p>

<p>
  <strong>Size:</strong>
  <%= @order.size %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
